<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <title>添加新乡镇资金</title>
    <script type="text/javascript">
        function save(){
            alert("添加成功")
        }

    </script>
</head>

<body>
<div class="page-content">
    <!--添加入围信息样式-->
    <div class="finalists_style">
        <form action="/money/toSaveCountryside" method="post">
            <div class="Manager_style">
                <span class="title_name">添加新乡镇资金</span>
                <table class="table table-striped table-bordered table-hover" >
                    <thead>
                    <tr>
                        <th width="30%"> 乡镇: </th>
                        <td> <input type="text" name="name" style="width: 90%;" > </td>
                    </tr>
                    <tr>
                        <th width="30%"> 总金额: </th>
                        <td> <input type="text" name="totalMoney" style="width: 90%;" > </td>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="btn_style">
                <input type="submit" th:onclick="save()" value="提交" class="btn  btn-danger  save_btn">
                <a href="/money/toSelect" class="btn btn-light Reset_btn">返回</a>
            </div>
        </form>
    </div>

</div>

</body>
</html>